.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 73px 19.8% 110px 28.9%;

  background-image: url("../img/about-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 20.3% 80px;
  background-size: 11.45% auto;
}

.about__title {
  margin: 0;
  margin-bottom: 24px;

  @include roboto-condenced(400, 36px, 51px);
}

.about__content {
  margin: 0;
  margin-bottom: 21px;

  &--big-margin {
    margin-bottom: 40px;
  }
}

.about__button {
  padding: 14px 50px 13px;

  @include roboto-condenced(700, 14px, 16px);
  color: $advantages-item-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid $advantages-item-color;
  border-radius: 5px;
}

@media (max-width: $tablet-width) {
  .about {
    padding: 25px 2.6% 83px 27.3%;

    background-image: url("../img/about-bg-tablet.png");
    background-position: 0 24px;
    background-size: auto;
  }

  .about__title {
    margin-bottom: 26px;

    @include roboto-condenced(400, 32px, 45px);
  }

  .about__content {
    margin-left: 3px;

    font-size: 16px;
    line-height: 22px;

    &--big-margin {
      margin-bottom: 43px;
    }
  }

  .about__button {
    margin-left: 2px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding: 42px 4.3% 65px;
    background-image: none;
  }

  .about__title {
    margin-bottom: 22px;

    @include roboto-condenced(400, 28px, 39px);
  }

  .about__content {
    margin-bottom: 42px;

    &--big-margin {
      margin-bottom: 31px;
    }
  }
}
