.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 73px 19.8% 110px 28.9%;

  background-image: url("../img/about-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 20.3% 80px;
  background-size: 11.45% auto;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/about-bg-desktop@2x.jpg");
  }

  p {
    width: 100%;
    margin: 0;
    margin-bottom: 21px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 24px;

  @include roboto-condenced(400, 36px, 51px);
}

.about__button {
  margin-top: 19px;
  padding: 14px 50px 13px;

  @include roboto-condenced(700, 14px, 16px);
  color: $advantages-item-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid $advantages-item-color;
  border-radius: 5px;

  @include interactive;
}

@media (max-width: $tablet-width) {
  .about {
    padding: 25px 3.2% 83px 27.3%;

    background-image: url("../img/about-bg-tablet.jpg");
    background-position: 0 24px;
    background-size: auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/about-bg-tablet@2x.jpg");
      background-size: 244px;
    }

    p {
      margin-left: 3px;

      font-size: 16px;
      line-height: 22px;
    }
  }

  .about__title {
    margin-bottom: 26px;

    font-size: 32px;
    line-height: 45px;
  }

  .about__button {
    margin-left: 2px;
    margin-top: 22px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding: 42px 4.3% 65px;
    background-image: none;
  }

  .about__title {
    margin-bottom: 21px;

    font-size: 28px;
    line-height: 39px;
  }

  .about p {
    margin-bottom: 42px;
  }

  .about__button {
    margin-top: -11px;
  }
}
