.callback {
  display: flex;
  align-items: flex-start;
  padding-top: 88px;
  padding-right: 25px;
  padding-bottom: 113px;

  color: $dark-text-color;

  background-color: $form-bg-color;
  background-image: url("../../img/polygon-form-desktop.png");
  background-repeat: no-repeat;
  background-position: 175px -60px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/polygon-form-desktop@2x.png");
    background-size: 1745px auto;
  }
}

.callback__image-wrap {
  width: 27%;
  margin-top: 71px;
  margin-right: 110px;
  margin-left: auto;

  img {
    display: block;
  }
}

.callback__form {
  margin-right: auto;
}

@media (max-width: $tablet-width) {
  .callback {
    padding: 0;
    padding-top: 78px;
    padding-bottom: 103px;
    background-image: none;
  }

  .callback__image-wrap {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .callback {
    padding-top: 29px;
    padding-bottom: 42px;
  }
}
