.contacts {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-right: 2.6%;
  margin-left: 50px;
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-right: 50px;


  &:last-child {
    margin-right: 0;
  }

  svg {
    margin-right: 20px;
  }

  a {
    line-height: 18px;
    color: $dark-text-color;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    margin: 0;
  }

  .contacts__item {
    margin-right: 33px;

    svg {
      width: 24px;
      height: 24px;
      margin: 0;
    }

    span {
      display: none;
    }
  }
}
