.footer {
  width: 100%;
  padding-top: 65px;

  background-color: $footer-bg-color;
}

.footer__wrap {
  display: flex;
  width: 100%;
  padding: 0 13% 0 13.1%;
}

.footer__logo-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 14.6%;
}

.footer__logo {
  margin-bottom: 48px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.footer__title {
  margin: 0;
  margin-bottom: 25px;

  @include roboto-condenced(400, 15px, 16px);
  text-transform: uppercase;
  color: $footer-text-color;
  letter-spacing: 0.05em;
}

.footer__location {
  margin-right: 5px;
}

.footer__address {
  margin: 0;

  @include footer-text;
}

.footer__phones {
  @include reset-list;
  @include footer-text;
}

.footer__phones-item {
  a {
    font-weight: inherit;
    color: $footer-text-color;
    opacity: 0.5;
  }
}

.footer__copyright {
  display: flex;
  width: 100%;
  margin-top: 60px;
  padding: 13px 13%;

  @include footer-text;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  border-top: 1px solid rgba($footer-border-color, 0.2);

  a {
    font-weight: 400;
    color: $footer-text-color;
  }
}

.footer__rights {
  margin-right: 5.2%;
}

.footer__trademark {
  margin-right: 9.9%;

  &--logo {
    display: none;
  }
}

.footer__conditions {
  margin-right: auto;

  opacity: 0.5;

  @include interactive;
}

.footer_developers {
  margin-right: 5px;
}

@media (max-width: $tablet-width) {
  .footer {
    padding: 0;
  }

  .footer__wrap {
    flex-wrap: wrap;
    padding: 0;
  }

  .footer__logo-wrap {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 38px;
    padding: 20px 25px 19px;

    border-bottom: 1px solid rgba($footer-border-color, 0.2);
  }

  .footer__logo {
    margin: 0;
    margin-right: 88px;
  }

  .footer__menu {
    margin-left: 26px;
  }

  .footer__location {
    margin-right: 37px;
  }

  .footer__copyright {
    margin-top: 37px;
    padding: 21px 21px 24px 27px;

    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
  }

  .footer__trademark {
    display: none;

    &--logo {
      display: block;
      margin-right: auto;

      font-size: 13px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      opacity: 0.5;
    }
  }

  .footer__rights {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .footer__logo-wrap {
    flex-direction: column;
    margin: 0;
    padding: 46px 43px 48px;
  }

  .footer__logo {
    margin: 0;
    margin-bottom: 26px;
  }

  .footer__title {
    margin: 0;
    padding: 29px 15px 27px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 18px;
      top: 36px;

      width: 16px;
      height: 1px;

      background-color: $footer-accordion-color;
    }

    &::after {
      transform: rotate(90deg);
    }

    &--active::after {
      display: none;
    }
  }

  .footer__menu {
    position: relative;
    width: 100%;
    margin: 0;

    border-bottom: 1px solid rgba($footer-border-color, 0.2);
  }

  .footer__location {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .footer__location-wrap {
    padding: 5px 33px 26px 15px;
  }

  .footer__copyright {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 28px;
  }

  .footer__trademark {
    &--logo {
      margin: 0;
      margin-bottom: 31px;
    }
  }

  .footer__conditions {
    margin: 0;
    margin-bottom: 21px;
  }

  .footer_developers {
    margin: 0;
  }
}
