.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1491px;
  padding: 31px 38px;
}

.header__menu-button {
  position: relative;

  width: 37px;
  height: 13px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  background-color: transparent;

  border: none;

  cursor: pointer;

  @include interactive;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 37px;
    height: 1px;

    background-color: $dark-text-color;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }
}

.header__callback-button {
  flex-shrink: 0;
  margin-right: 4px;
  padding: 13px 26px;

  @include roboto-condenced(bold);
  color: $dark-text-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid $dark-text-color;
  border-radius: 5px;

  @include interactive;
}

@media (max-width: $tablet-width) {
  .header {
    padding: 20px 25px;
  }

  .header__menu-button {
    margin: 0;
    margin-top: -11px;
    margin-right: 37px;
  }

  .header__callback-button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding: 17px;
    padding-right: 15px;
  }

  .header__menu-button {
    margin-top: -10px;
    margin-right: 27px;
  }
}
