.logo {
  display: flex;
  margin-right: 8.4%;

  img {
    margin-right: 16px;
  }

  @include interactive;
}

.logo__name {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  margin-top: 5px;

  span:first-child {
    font-family: "roboto-condenced", "Arial", sans-serif;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    color: $dark-text-color;
  }

  span:last-child {
    font-family: "roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: $header-logo-color;
  }

  &--dark span:first-child {
    color: $footer-logo-color;
  }
}

@media (max-width: $tablet-width) {
  .logo {
    margin: 0;
    margin-right: auto;
  }

  .logo__name {
    span:first-child {
      margin-bottom: 2px;
    }
  }
}

@media (max-width: $mobile-width) {
  .logo {
    img {
      width: 38px;
      height: 38px;
    }
  }

  .logo__name {
    display: none;
  }
}
