.logo {
  flex-shrink: 0;
  margin-right: 8.4%;

  &--big {
    margin-right: 0;
  }

  @include interactive;
}

@media (max-width: $tablet-width) {
  .logo {
    margin: 0;
    margin-right: auto;
  }

  .logo__name {
    span:first-child {
      margin-bottom: 2px;
    }
  }
}

@media (max-width: $mobile-width) {
  .logo {
    img {
      width: 38px;
      height: 38px;
    }

    &--big img {
      width: 216px;
      height: 52px;
    }
  }
}
