.main {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 258px;
  padding-left: 13%;

  color: $dark-text-color;

  background-color: $dark-bg-color;
  background-image:
    url("../img/polygon-start-desktop.png"),
    url("../img/start-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 0 -69px, 0 0;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/polygon-start-desktop@2x.png"),
      url("../img/start-bg-desktop@2x.png");
  }
}

.main__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  margin-right: 37px;
  padding-top: 55px;
}

.main__title {
  margin: 0;
  margin-bottom: 29px;

  @include roboto-condenced(700, 80px, 94px);
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.main__intro {
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 97px;

  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 4px;

    width: 66px;
    height: 2px;

    background-color: $dark-text-color;
  }
}

.main__button {
  margin-left: 97px;
  margin-bottom: 133px;
  padding: 18px 45px;

  @include roboto-condenced(700, 16px, 19px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;

  background-color: $advantages-item-color;

  border-radius: 5px;

  @include interactive;

  span:last-child {
    display: none;
  }
}

.main__link {
  margin-bottom: 127px;
  margin-left: -36px;

  font-size: 14px;
  line-height: 16px;

  opacity: 0.5;
  transform: rotate(-90deg);

  @include interactive;
}

@media (max-width: $tablet-width) {
  .main {
    padding-top: 113px;
    padding-left: 11.4%;

    background-image:
      url("../img/polygon-start-tablet.png"),
      url("../img/start-bg-tablet.png");
    background-position: -372px -187px, -372px -179px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/polygon-start-tablet@2x.png"),
        url("../img/start-bg-tablet@2x.png");
    }
  }

  .main__wrap {
    flex-shrink: 0;
    width: 63%;
    margin-right: -8px;
    padding-top: 74px;
  }

  .main__title {
    margin-bottom: 31px;

    @include roboto-condenced(700, 60px, 70px);
  }

  .main__intro {
    margin-bottom: 55px;
    padding-left: 51px;

    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
    }
  }

  .main__button {
    margin-left: 51px;
    margin-bottom: 164px;
    padding: 17px 31px 19px;
  }

  .main__link {
    display: none;
  }

  .main__image {
    width: 465px;
  }
}

@media (max-width: $mobile-width) {
  .main {
    flex-direction: column;
    align-items: center;
    padding-top: 91px;
    padding-left: 4.7%;

    background-image:
      url("../img/polygon-start-mobile.png"),
      url("../img/start-bg-mobile.png");
    background-position: -624px -187px, -624px -179px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/polygon-start-mobile@2x.png"),
        url("../img/start-bg-mobile@2x.png");
    }
  }

  .main__wrap {
    width: auto;
    margin: -29px auto 0;
    padding: 0;
  }

  .main__title {
    margin-bottom: 29px;

    @include roboto-condenced(700, 40px, 47px);
  }

  .main__intro {
    margin-bottom: 41px;
    padding-left: 51px;

    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
      left: 3px;
    }
  }

  .main__button {
    margin: 0;
    margin-bottom: 71px;
    margin-left: 2px;
    padding: 17px 32px 19px 33px;

    span:first-child {
      display: none;
    }

    span:last-child {
      display: inline;
    }
  }

  .main__link {
    display: none;
  }

  .main__image {
    order: -1;
    width: 301;
    margin-left: 19px;
  }
}
