.menu {
  @include reset-list;

  display: inline-block;

  columns: 230px 2;
  column-gap: 75px;
}

.menu__item {
  &--break {
    break-inside: auto;
  }

  a {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: $footer-text-color;
    opacity: 0.5;

    @include interactive;
  }
}

@media (max-width: $tablet-width) {
  .menu {
    columns: 1;
  }
}
