html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-width: $min-mobile-width;
  margin: 0;

  font-family: "ptmono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: $light-text-color;

  background-color: $light-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.scroll-hidden {
  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(#000, 0.3);
  }
}
