@font-face {
  font-family: "ptmono";
  src: url("../fonts/ptmono-regular.woff2"),
  url("../fonts/ptmono-regular.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-regular.woff2"),
  url("../fonts/roboto-regular.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "roboto-condenced";
  src: url("../fonts/robotocondensed-regular.woff2"),
  url("../fonts/robotocondensed-regular.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "roboto-condenced";
  src: url("../fonts/robotocondensed-bold.woff2"),
  url("../fonts/robotocondensed-bold.woff");
  font-style: normal;
  font-weight: 700;
}