@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin roboto-condenced($weight: normal, $size: 14px, $height: 16px) {
  font-family: "roboto-condenced", "Arial", sans-serif;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin footer-text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: $footer-text-color;

  opacity: 0.5;
}

@mixin interactive {
  &:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.2s ease;
  }
}
