$dark-bg-color: #1b2d37;
$dark-text-color: #ffffff;
$header-logo-color: #788891;
$advantages-item-color: #00b2ff;
$light-bg-color: #ffffff;
$light-text-color: #666666;
$footer-bg-color: #fafafa;
$footer-logo-color: #203c42;
$footer-text-color: #1b2d37;
$footer-border-color: #626962;
$footer-accordion-color: #c4c4c4;

$max-desktop-width: 1920px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-mobile-width: 320px;
