$dark-bg-color: #1B2D37;
$dark-text-color: #FFFFFF;
$advantages-item-color: #00B2FF;
$light-bg-color: #FFFFFF;
$light-text-color: #666666;
$footer-logo-color: #203C42;
$footer-text-color: #1B2D37;

$max-desktop-width: 1920px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-mobile-width: 320px;